<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>:: :: :: P2P ChatApp :: :: ::</title>
  </head>

  <body>
    <div class="container-fluid">
     <div class="row">
      <div class="col-md-4"/>
      <div class="col-md-6">
      <h1>User Settings</h1>
      <form action="/createUser">Enter username:
        <input type="search" name="newUser" required="required" title="Please enter a username"/>
        <input type="submit" value="Enter"/>
      </form>
      </div>
      <div class="col-md-2"/>
     </div>
    </div>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
  </body>
</html>
