<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <!--<meta http-equiv="refresh" content="10"/>-->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>MyChat</title>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <span class="navbar-text" style="font-weight: bold"> :: :: :: P2P ChatApp :: :: :: </span>
        <form class="navbar-form navbar-right" action="/createUser">
            <button type="submit" class="btn btn-primary">Change user</button>
        </form>
        <span class="navbar-text navbar-right" style="font-weight: bold" th:text="'Hello ' + ${mainuser.getName()} +'!'"/>
      </div>
    </nav>

    <div class="container">
      <div class="col-md-5">
        <div class="panel panel-primary">
          <div style="background-color: cornflowerblue; font-size: 30px; color: white; padding: 5px" class="panel heading">Enter text:</div>
          <form action="/sendmessage" style="margin: 5px">
            <div>
              <textarea style="width: 100%" type="text" name="text" rows="3"/>
            </div>
            <div>
              <button class="btn btn-primary" type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-7">
        <div class="panel panel-primary">
          <div style="background-color: cornflowerblue; font-size: 30px; color: white; padding: 5px" class="panel heading">Messages</div>
          <div th:each="text : ${messages}">
            <div style="background-color: lightblue; margin: 5px; padding: 5px; border-radius: 8px; width: auto" class="panel-body">
              <div style="font-size: 16px" th:text="${text.getText()}"/>
              <span style="color: white"> sent by:</span>
              <span style="color: white" th:text="${text.getUsername()}"/>
              <span style="color: white" th:text="' at ' + ${text.getTimestamp()}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
  </body>
</html>
