<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <title>MyChat</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3" style="background-color: aliceblue"/>
        <div class="col-md-6">
          <p>
            <h1>Peer To Peer Chat program</h1>
            <form action="/createUser">USER:
              <input type="search" th:value="${mainuser.getName()}"/>
              <input type="submit" value="Change"/>
            </form>
          </p>
          <p>
            <div class="panel panel-primary">
              <div style="background-color: cornflowerblue; font-size: 30px; color: white; padding: 5px" class="panel heading">Messages</div>
              <p>
                <form action="/sendmessage" style="margin: 5px" method="post">
                  <div>
                  <textarea style="width: 100%" type="text" name="message" rows="3"/>
                  </div>
                  <div>
                    <button class="btn btn-primary" type="button">
                      <input style="border: none; background-color: inherit; width: 100%; height: 100%" type="submit" value="Send message"/>
                    </button>
                  </div>
                </form>
              </p>
              <div th:each="message : ${messages}">
                <div style="background-color: lightblue; margin: 5px; padding: 5px; border-radius: 10px" class="panel-body">
                  <div style="font-size: 16px" th:text="${message.getMessage()}"/>
                  <span style="color: white"> sent by:</span>
                  <span style="color: white" th:text="${message.getUsername()}"/>
                  <span style="color: white" th:text="' at ' + ${message.getTimestamp()}"/>
                </div>
              </div>
            </div>
          </p>
        </div>
        <div class="col-md-3" style="background-color: aliceblue"/>
      </div>
    </div>
  </body>
</html>
